network:
  name: HeatSyncLabs

datastore:
  path: /ircd/ircd.db
  autoupgrade: true

server:
  name: irc.heatsynclabs.chat

  listeners:
    ":8080":
      websocket: true

  websocket-origins:
    - "https://heatsynclabs.chat"
    - "https://www.heatsynclabs.chat"

  enforce-utf8: true
  max-sendq: 96k
  ip-cloaking:
    enabled: true
    netname: heatsync

accounts:
  registration:
    enabled: true
    bcrypt-cost: 4
    throttling:
      enabled: true
      duration: 10m
      max-attempts: 30
    email-verification:
      enabled: false
  authentication-enabled: true
  multiclient:
    enabled: true
    allowed-by-default: true
    always-on: opt-in
  bouncer:
    enabled: true
    allowed-by-default: true

limits:
  nicklen: 32
  identlen: 20
  realnamelen: 150
  channellen: 64
  awaylen: 390
  kicklen: 390
  topiclen: 390
  monitor-entries: 100
  whowas-entries: 100
  chan-list-modes: 60
  registration-messages: 1024
  multiline:
    max-bytes: 4096
    max-lines: 100

channels:
  default-modes: "+nt"
  registration:
    enabled: true

history:
  enabled: true
  channel-length: 10000
  client-length: 1000
  chathistory-maxmessages: 1000
  znc-maxmessages: 2048
  restrictions:
    expire-time: 168h
    query-cutoff: none
    grace-period: 1h
  retention:
    allow-individual-delete: false
    cutoff: 168h

logging:
  - method: stderr
    level: info
    type: "*"
